IEGP/Notebooks/CFHTLS_DeepSurvey/
IEGP/Notebooks/umachine*
IEGP/Notebooks/*umachine
IEGP/Notebooks/COSMOS/
IEGP/Notebooks/Bolshoi-Plank/
IEGP/Notebooks/HMFCalc/
IEGP/Papers/
IEGP/Papers/Imprimir/
IEGP/Notebooks\HMFCalc\.*
AGORA/yt/
AGORA/tratamiento-datos/
